body {
	margin: 0px;
}
.navbar {
	display: flex;
	justify-content: space-evenly;
	justify-content: center;
	box-shadow: 0 3px 3px #333;
	margin-bottom: 18px;
}
.navbar a.tab {
	text-decoration: none;
	/*font-size: 22px;*/
	font-family: arial black;
	text-transform: uppercase;
	color: #000; /* this is black */
	padding: 8px;
	margin-bottom: 5px;
}
.navbar a.tab:hover {
	color: #000;
	background-color: #afa;
	border-radius: 4px;
	box-shadow: inset 0 0 3px 1px #000;
}
.search-form {
	display: flex;
}
.search-form * {
	font-size: 22px;
	padding: 5px;
	border-radius: 20px;
	border-width: 1px;
	border-color: #333;
	border-style: solid;
}
.search-form #query {
	width: 100%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.search-form #searchBtn {
	width: 30%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.sized-coat {
	padding: 10px;
}
.products {
	display: flex;
	flex-wrap: wrap;
}
.products .product {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 15px;
	box-shadow: inset 0 0 3px 1px #000;
	border-radius: 8px;
	width: 250px;
}
.products .product .details {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.products .product .details .product-name {
	font-size: 18px;
	font-weight: bold;
	font-family: arial;
}
.products .product .details .product-price {
	font-style: italic;
	font-weight: bold;
	font-family: courier;
}
.products .product img {
	height: 156px;
}
.products .product .cart-btn {
	display: flex;
	background-color: #393;
	text-decoration: none;
	font-family: arial;
	color: #fff;
	padding: 7px;
	justify-content: center;
	border-radius: 12px;
	font-weight: bold;
	margin-top: 6px;
}
.products .product:hover .cart-btn {
	background-color: #f90;
}
.products .product:hover .cart-btn:hover {
	background-color: #09f;
}
.products {
	justify-content: center; /* works only if display is flex or inline-flex */
}
.header-text {
	text-align: center;
	padding-top: 22px;
}
@media (orientation: landscape) {
	.navbar .mobile-toggle-btn {
		display: none;
	}
}
@media (orientation: portrait) {
	.navbar {
		flex-direction: column;
	}
	.navbar .tab {
		text-align: center;
		background-color: #ddd;
		margin: 5px;
		font-size: 16px!important;
		box-shadow: inset 0 0 2px 1px #000;
	}
	.navbar .mobile-toggle-btn {
		font-size: 32px;
		text-align: center;
	}
	.navbar .mobile-toggle-btn .open,.navbar.show .mobile-toggle-btn .close {
		display: block
	}
	.navbar.show .mobile-toggle-btn .open,.navbar .mobile-toggle-btn .close {
		display: none;
	}
	.navbar .tab {
		display: none;
	}
	.navbar.show .tab {
		display: block;
	}
}
/* About page */
.sized-coat.for-about {
	display: flex;
	justify-content: center;
}
.about {
	max-width: 720px;
	box-shadow: inset 0 0 3px 1px #000;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 28px;
	margin-bottom: 48px;
	border-radius: 10px;
}
.about h2 {
	font-size: 2.2em;
	font-family: sans-serif;
}
.about h3 {
	font-size: 1.8em;
	font-family: sans-serif;
}
.about p {
	font-size: 18px;
	font-family: Cambria, Arial;
}
.cart-btn2 {
    display: flex;
    background-color: #393;
    text-decoration: none;
    font-family: arial;
    color: #fff;
    padding: 7px;
    justify-content: center;
    border-radius: 30px!important;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 17px;
}
.cart-btn2 {
    background-color: #dff;
    box-shadow: inset 0 0 2px 1px #000;
    border-top-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}
.cart-btn2:hover {
	color: #fff;!important;
}
.contact-btn {
    display: flex;
    background-color: #393;
    text-decoration: none;
    font-family: arial;
    color: #fff;
    padding: 7px;
    justify-content: center;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 17px;
}
.contact-form * {
	display: block;
	width: 100%;
	font-size: 18px;
	padding: 8px;
	border-style: none;
	font-family: arial;
	font-weight: bold;
}
.contact-form input:not([type="submit"]),.contact-form textarea {
	border-radius: 12px;
	margin-bottom: 5px;
	background-color: #adf;
	color: #393;
}
.tab.contact-btn {
	color: #fff!important;
}
.products.purchase {
	flex-direction: column;
    flex-wrap: nowrap;
  	align-items: center;
}
.products.purchase .product {
	flex-direction: row;
	justify-content: space-between;
  	width: 650px;
  	max-width: 80%;
    flex-wrap: wrap;
}
.products.purchase img {
	width: 78px;
	height: 42px;
}
