.post-body div:has(>iframe[src*="youtube.com"]) {
    position: relative;
    width: 100%;
    padding: 0px;
    padding-top: 56%;
}
.post-body div>iframe[src*="youtube.com"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
