.yepper-ad-empty {
    background-image: linear-gradient(135deg, #efe 0%, #eff 100%);
    box-shadow: inset 0 0 50px #6665, inset 0 0 3px #333;
    border-radius: 0px;
}

.yepper-ad-empty::before {
    top: -55px;
    right: -55px;
    width: clamp(60px, 15cqw, 125px);
    height: clamp(60px, 15cqw, 125px);
    background: radial-gradient(circle at center, #95f 0%, #0000 65%);
}

.yepper-ad-empty::after {
    bottom: -50px;
    left: -50px;
    width: clamp(55px, 13.5cqw, 120px);
    height: clamp(55px, 13.5cqw, 120px);
    background: radial-gradient(circle at center, #f44 0%, #0000 65%);
}

.yepper-ad-empty-title {
    color: #000;
}

.yepper-ad-empty-text {
    color: #333;
}

.yepper-ad-empty-link {
    background: linear-gradient(135deg, #b88b01 0%, #883300 100%);
}

.yepper-ad-empty-link:hover {
    background: linear-gradient(135deg, #830 0%, #b81 100%);
}
